.containerButton {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.enabledButton {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.disabledButton {
    width: 150px;
    height: 50px;
    background-color: gray;
    color: black;
    border: none;
    border-radius: 8px;
}

span {
    display: block;
}