.actor-cards-containerb {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}
.cardstate {
    width: 97%;
    aspect-ratio: 10 / 7;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-family: DejaVuSerif;
    text-shadow: 
    -1px -1px 0px #002776, 
    -1px 1px 0px #002776,                    
    1px -1px 0px #002776,                  
    1px 0px 0px #002776;
}
.cardstate:hover {
    transform: scale(1.02);
}
.banner-28 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Bandeira_do_estado_de_S%C3%A3o_Paulo.svg/1280px-Bandeira_do_estado_de_S%C3%A3o_Paulo.svg.png');
}
.banner-29 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Bandeira_de_Minas_Gerais.svg/1280px-Bandeira_de_Minas_Gerais.svg.png');
}
.banner-30 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bandeira_do_estado_do_Rio_de_Janeiro.svg/1280px-Bandeira_do_estado_do_Rio_de_Janeiro.svg.png');
}
.banner-4 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Bandeira_da_Bahia.svg/1280px-Bandeira_da_Bahia.svg.png');
}
.banner-5 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Bandeira_do_Paran%C3%A1.svg/1280px-Bandeira_do_Paran%C3%A1.svg.png');
}
.banner-6 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Bandeira_do_Rio_Grande_do_Sul.svg/1280px-Bandeira_do_Rio_Grande_do_Sul.svg.png');
}
.banner-7 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bandeira_de_Pernambuco.svg/1280px-Bandeira_de_Pernambuco.svg.png');
}
.banner-8 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bandeira_do_Cear%C3%A1.svg/1280px-Bandeira_do_Cear%C3%A1.svg.png');
}
.banner-9 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bandeira_do_Par%C3%A1.svg/1280px-Bandeira_do_Par%C3%A1.svg.png');
}
.banner-10 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bandeira_de_Santa_Catarina.svg/1280px-Bandeira_de_Santa_Catarina.svg.png');
}
.banner-11 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_Goi%C3%A1s.svg/1280px-Flag_of_Goi%C3%A1s.svg.png');
}
.banner-12 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Bandeira_do_Maranh%C3%A3o.svg/1280px-Bandeira_do_Maranh%C3%A3o.svg.png');
}
.banner-13 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Bandeira_do_Amazonas.svg/1280px-Bandeira_do_Amazonas.svg.png');
}
.banner-14 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Bandeira_do_Esp%C3%ADrito_Santo.svg/1280px-Bandeira_do_Esp%C3%ADrito_Santo.svg.png');
}
.banner-15 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Bandeira_da_Para%C3%ADba.svg/1280px-Bandeira_da_Para%C3%ADba.svg.png');
}
.banner-16 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Bandeira_de_Mato_Grosso.svg/1280px-Bandeira_de_Mato_Grosso.svg.png');
}
.banner-17 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Bandeira_do_Rio_Grande_do_Norte.svg/1280px-Bandeira_do_Rio_Grande_do_Norte.svg.png');
}
.banner-18 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bandeira_de_Alagoas.svg/1280px-Bandeira_de_Alagoas.svg.png');
}
.banner-19 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bandeira_do_Piau%C3%AD.svg/1280px-Bandeira_do_Piau%C3%AD.svg.png');
}
.banner-20 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Bandeira_do_Distrito_Federal_%28Brasil%29.svg/1280px-Bandeira_do_Distrito_Federal_%28Brasil%29.svg.png');
}
.banner-21 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Bandeira_de_Mato_Grosso_do_Sul.svg/1280px-Bandeira_de_Mato_Grosso_do_Sul.svg.png');
}
.banner-22 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Bandeira_de_Sergipe.svg/1280px-Bandeira_de_Sergipe.svg.png');
}
.banner-23 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Bandeira_de_Rond%C3%B4nia.svg/1280px-Bandeira_de_Rond%C3%B4nia.svg.png');
}
.banner-24 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Bandeira_do_Tocantins.svg/1280px-Bandeira_do_Tocantins.svg.png');
}
.banner-25 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Bandeira_do_Acre.svg/1280px-Bandeira_do_Acre.svg.png');
}
.banner-26 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Bandeira_do_Amap%C3%A1.svg/1280px-Bandeira_do_Amap%C3%A1.svg.png');
}
.banner-27 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bandeira_de_Roraima.svg/1280px-Bandeira_de_Roraima.svg.png');
}

@media(max-width: 768px) {
    .cards-content {
        grid-template-columns: 1fr;  
        margin-top: 30px;      
    }
    .card {
        width: 97%;
    }
}