img {
    object-fit: contain;
}

footer {
    height: 250px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

span {
    color: #fff;
    font-family: DejaVuSerif;
    text-align: center;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    footer {
        height: 300px;
    }
    .footer-navigation {
        display: block;
    }
}